{% extends "layout.html" %}
{% block body %}

        <div class="input-div">
            <label>Celsius</label><br>
            <input type="Number" value="0" id="inch" class="inpt">
        </div>

        <div class="input-div">
            <h1>=</h1>
        </div>

        <div class="input-div">
            <label>Fahrenhiet</label><br>
            <input type="Number" value="32" id="cm" class="inpt">
        </div>      

        <script src="{{url_for('static',filename='assets/js/js3.js')}}"></script>

{%endblock%}