{% extends "layout.html" %}
{% block body %}


        <div class="input-div">
            <label>Hour</label><br>
            <input type="Number" value="1" id="inch" class="inpt">
        </div>

        <div class="input-div">
            <h1>=</h1>
        </div>

        <div class="input-div">
            <label>Second</label><br>
            <input type="Number" value="3600" id="cm" class="inpt">
        </div>      

        <script src="{{url_for('static',filename='assets/js/js4.js')}}"></script>  

        {%endblock%}
    
    